* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://slideplayer.com/4402692/14/images/slide_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}
.container {
  position: relative;
  width: 400px;
  height: 105px;
  border: 1px solid black;
  background: whitesmoke;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.6s ease-out;
}
.not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
}

.not-found img {
  width: 70%;
}

.not-found p {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}
.search-box {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-box input {
  color: #06283d;
  width: 80%;
  font-size: 24px;
  background: transparent;
  font-weight: 500;
  text-transform: uppercase;
  padding: 32px;
}
.search-box input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #06283d;
  text-transform: capitalize;
}
.search-box button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #06283d;
  background: #dff6ff;
  border-radius: 50%;
  font-size: 20px;
}
.search-box button:hover {
  background: #087bc24b;
}
.search-box i {
  cursor: pointer;
  position: absolute;
  font-size: 28px;
}
.weather-box {
  text-align: center;
  justify-content: center;
}
.weather-box img {
  width: 60%;
  margin-top: 30px;
  /* border: 1px solid black; */
}
.weather-box .temprature {
  position: relative;
  color: #06283d;
  font-size: 4rem;
  margin-top: 30px;
}
.weather-box .description {
  color: #06283d;
  font-size: 22px;
  text-transform: capitalize;
}
.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}
.weather-details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}
.weather-details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}
.weather-details i {
  color: #06283d;
  font-size: 26px;
  margin-right: 10px;
}
.weather-details span {
  color: #06283d;
  /* font-size: 22px; */
  font-weight: 500;
}
.weather-details p {
  color: #06283d;
  font-size: 14px;
  font-weight: 500;
}
.weather-box,
.weather-details {
  scale: 0;
  opacity: 0;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: 100vh;
    /* background: #dff6ff; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .container {
    width: 80%;
    max-height: 80%;
  }
  .search-box input {
    width: 80%;
    margin-left: -30px;
    font-size: 15px;
  }
  .search-box {
    width: 111%;
  }
  .search-box i {
    font-size: 20px;
    left: 8px;
  }
  .weather-box img {
    width: 60%;
  }
  .weather-box .temprature {
    font-size: 3rem;
  }
  .weather-box .description {
    font-size: 18px;
  }
  .weather-details i {
    font-size: 20px;
  }
  .weather-details .humidity {
    padding-left: 0px;
  }
  .weather-details .wind {
    padding-right: 0px;
  }
  .weather-details span {
    font-size: 18px;
  }

  .weather-details p {
    font-size: 12px;
  }
}
